<h1>Carmen Pas</h1>
<p class="infoc">CONTINOUS LEARNING </p>
<table class="table">
  <thead>
    <tr>
      <th>name


      </th>
            <th>age
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        dog
      </td>
      <td>
        8
      </td>
    </tr>
  </tbody>

</table>
